.select,
.select--dense,
.select:after,
.select--dense::after {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select {
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--s12);
}
.select--dense {
  height: 1.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--s8);
  font-size: var(--font_size_body_small);
}

.select--dense::after,
.select::after {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: 0.1em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
  border-radius: var(--s4);
}

.select:hover,
.select--dense:hover {
  cursor: pointer;
}

/**INPUT*/
.default.fill,
.dense.fill {
  width: 100% !important;
  display: flex !important;
  flex: 1 !important;
}
.default,
.dense {
  width: fit-content;
}
.default[class*="input-group"] > input[class*="input"] {
  height: 2.5rem;
  border-radius: var(--s12);
  padding: 0 2.5rem !important;
  font-size: var(--font_size_body);
  letter-spacing: var(--letter_spacing_body);
  font-weight: var(--font_weight_body);
}
.dense[class*="input-group"] > input[class*="input"] {
  height: 1.75rem;
  border-radius: var(--s8);
  padding: 0 1.75rem !important;
  font-size: var(--font_size_body_small);
  letter-spacing: var(--letter_spacing_body_small);
  font-weight: var(--font_weight_body_small);
}

.default[class*="input-group"] > button[class*="button"],
.dense[class*="input-group"] > button[class*="button"],
.default[class*="input-group"]
  span[class*="input-action"]
  > button[class*="button"],
.dense[class*="input-group"]
  span[class*="input-action"]
  > button[class*="button"] {
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 1.25rem;
  height: 100%;
  min-width: 1.25rem;
  min-height: 0;
  margin-left: 0.75rem;
}

.default[class*="input-group"] span[class*="input-action"],
.dense[class*="input-group"] span[class*="input-action"] {
  height: 100%;
}
.default[class*="input-group"]
  span[class*="input-action"]
  > button[class*="button"] {
  margin-right: 0.625rem;
}
.dense[class*="input-group"] > button[class*="button"] {
  width: 1rem;
  min-width: 1rem;
  margin-left: 0.5rem;
}
.dense[class*="input-group"]
  span[class*="input-action"]
  > button[class*="button"] {
  margin-right: 0.375rem;
}

.default[class*="active"] > input[class*="input"],
.dense[class*="active"] > input[class*="input"] {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**BUTTON*/
.segmented-left { 
  border-radius: var(--s8) 0 0 var(--s8) !important;
}

.segmented-right { 
  border-radius: 0 var(--s8) var(--s8) 0 !important;
}

.segmented-left[class*="outlined"]:hover {
  box-shadow: 0 0 0 1px var(--color30) !important;
  background: var(--color5) !important;
}
