/* BUTTONS TYPES*/

/*--DEFAULT--*/
.default {
  height: 2.5rem;
  align-items: center;
}
.dense {
  height: 1.75rem;
  align-items: center;
}
.default[class*="button-group"] > button[class*="button"] {
  min-width: 3.25rem;
}
.dense[class*="button-group"] > button[class*="button"] {
  min-width: 2.5rem;
}
/*--VERTICAL--*/
.vertical,
.dense[class*="vertical"] {
  height: auto;
  flex-direction: column;
  align-items: stretch;
  vertical-align: top;
}

.align-text-left button,
.dense[class*="align-text-left"] button {
  flex-direction: row;
  justify-content: flex-start;
}

.align-text-right button,
.dense[class*="align-text-right"] button {
  flex-direction: row;
  justify-content: flex-end;
}